.cart {
    @apply flex flex-col justify-center items-center;
  }
  
  .cartItem {
    @apply w-[700px] h-[250px] flex items-center shadow-md rounded-xl m-[30px];
  }
  
  .cartItem img {
    @apply w-[200px];
  }
  
  .removeBtton button {
    @apply mr-40;
  }

  .cartItem .description {
    @apply w-full text-[30px];
  }
  
  .countHandler input {
    @apply w-[40px] text-center font-bold;
  }
  
  /*.checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }*/