 .recipe-form {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 30px;
  }

  .titulo {
    color: #2D2A70;
    font-size: 5rem;
    font-weight: bold;
  }

  .button-container {
    margin-top: 100px; /* Ajusta el margen superior según sea necesario */
    margin-left: 50%;
    margin-bottom: 60px;
  }
  
  .button {
    padding: 8px 16px; /* Ajusta el padding según sea necesario */
  }

  .buttonTime {
    margin-right: 5px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 20px;
    margin-top: 30px;
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-top: 30px; /* Agrega espacio entre cada grupo de label e input */
    margin-left: 50px;
  }
  
  .textarea-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .label {
    font-weight: bold;
    margin-right: 20px;
  }
  
  .inputNombre {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 600px;
    margin-left: 5%;
    margin-right: 20px;
  }

  .inputMedicamento {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    margin-left: 2.75%;
    margin-right: 20px;
  }

  .inputTratamiento {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    margin-left: 3.25%;
  }

  .textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 900px;
    height: 200px;
  }

  .cont_main {
    background-color: white;
    border-radius: 20px;
  }
  